body {
  background-color: white;
  font-family: verdana;
  font-size: 250%;
}

h1 {
  color: Green;
  margin-left: 25px;
}
h2 {
  color: Green;
  margin-left: 25px;
}
p {
	margin-left: 100px;
}

footer {
	margin-left:-100px;
}